In [11]:
import pandas as pd

data = {
    'Nome': ['Ana', 'Bruno','Carlos','Diana'],
    'Idade': [28, 34, 45, 22],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']
}
df = pd.DataFrame(data)
df

     Nome  Idade          Cidade
0     Ana     28       São Paulo
1   Bruno     34  Rio de Janeiro
2  Carlos     45  Belo Horizonte
3   Diana     22        Curitiba

In [1]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import pandas as pd
import openpyxl

In [12]:
caminho = (r'C:\Users\andre_r_borges\Documents\aplicativo\exemplo-aplicativo.xlsx')

In [13]:
df2 = pd.read_excel(caminho, engine = 'openpyxl')

In [14]:
df2

     Nome  Idade          Cidade
0     Ana     28       São Paulo
1   Bruno     34  Rio de Janeiro
2  Carlos     45  Belo Horizonte
3   Diana     22        Curitiba